alembic==1.3.2
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.0.2
coveralls==1.10.0
docopt==0.6.2
elasticsearch==7.1.0
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.1.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
PyJWT==1.7.1
pylint==2.4.4
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-librsync==0.1.post5
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.13.0
SQLAlchemy==1.3.12
twilio==6.35.0
typed-ast==1.4.0
urllib3==1.26.5
Werkzeug==0.16.0
wrapt==1.11.2